@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Press+Start+2P&display=swap");

@font-face {
  font-family: "digital-clock-font";
  src: url("./digital-7/digital-7.ttf");
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes headerAnime {
  from {
    transform: translateX(-650px);
  }

  to {
    transform: translateX(0);
  }
}

/********************************************* WINDOW DEFAULT **********************************************/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --border-dark-color: lightsteelblue;
  --border-light-color: aliceblue;
  --start-game-button-color: rgba(66, 172, 30, 0.75); /*#ce9f11;*/
  --start-game-button-glow: rgba(66, 228, 57, 0.75); /*#ffc000;*/
  --toggle-disabled-before-el: lightgray;
  --toggle-disabled-after-el: white;
}

body {
  background-image: linear-gradient(180deg, black, lightslategray);
  font-family: "Press Start 2P", helvetica, sans-serif;
  animation: transitionIn 1s;
}

.fa-flag {
  color: red;
}

.fa-flag-checkered {
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 10px;
}

fieldset {
  padding: 20px auto;
  border-radius: 0.5em;
  border-color: /*lightgreen;*/ var(--start-game-button-color);
  border-width: 2px;
  box-shadow: 0 0 5px var(--start-game-button-glow);
  letter-spacing: 0.1em;
}

legend {
  text-align: center;
  font-size: larger;
  letter-spacing: 0.2em;
  color: var(--start-game-button-color);
}

label {
  margin-top: 5px;
  margin-bottom: 10px;
}

label:hover {
  color: var(--start-game-button-color);
  text-shadow: 0 0 1px var(--start-game-button-glow);
}

input[type="radio"]:checked + label {
  color: var(--start-game-button-color);
  text-shadow: 0 0 1px var(--start-game-button-glow);
}

/********************************************* TOGGLE **********************************************/
/*
Steps to adding a toggle -
1. add a checkbox input to your form, make the checkbox dissappear.
2. create an element directly before your label, using the ::label method
3. create an after element for the label
*/

/* all checkboxes with toggle class: make sure your checkbox is no longer on the page */
input[type="checkbox"].toggle {
  opacity: 0;
  left: -900px;
  top: -900px;
  position: absolute;
}

input[type="checkbox"].toggle + label {
  /* change the display so that the toggle can show as the default for label is to display inline */
  display: flex;
  /* added such that the label text will be centered vertically */
  align-items: center;
  position: relative;
}

input[type="checkbox"].toggle + label::before {
  content: "";
  width: 4em;
  height: 2em;
  background-color: var(--toggle-disabled-before-el);
  border-radius: 1em;
  margin-right: 0.7em;
  transition: 400ms ease-in-out;
}

input[type="checkbox"].toggle:checked + label::before {
  background-color: hsl(51, 70%, 85%);
}

/* round toggle - before the checkbox is checked */
input[type="checkbox"].toggle + label::after {
  content: "";
  width: 1.9em;
  height: 1.9em;
  background-color: var(--toggle-disabled-after-el);
  border-radius: 1em;
  margin-right: 0.25em;
  position: absolute;
  left: 0.1em;
  transition: 400ms ease-in-out;
}

input[type="checkbox"].toggle:checked + label::after {
  transform: translateX(100%);
  background-color: var(--start-game-button-color);
}

/************************************************** HEADER **************************************************/
.header {
  height: 15vh;
  line-height: 15vh;
  text-align: center;
  /* padding-left: 50px; */
  align-content: center;
  font-family: "Press Start 2P";
  font-size: xx-large;
  text-shadow: 6px 6px lightslategrey;
  letter-spacing: 0.08em;
  color: azure;
  animation: headerAnime 1s;
  cursor: pointer;
}

.header .fa-flag-checkered {
  color: red;
  text-shadow: 8px 8px lightslategray;
  transform: rotate(-10deg);
}

/************************************************** BODY *****************************************************/
.container {
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: space-between;
  height: 85vh;
}

/************************************************** ASIDE ****************************************************/
.aside {
  /* background-color: coral; */
  font-family: "Orbitron", sans-serif;
  color: var(--border-light-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.game-parameter {
  width: 80%;
  padding-top: 50px;
}

/*=============== GAME PARAMETER:: Select Difficulty ================*/
.set-difficulty {
  margin-bottom: 30px;
}

.radio-container {
  padding: 10px;
}

input[type="radio"].difficulty + label {
  cursor: pointer;
  width: 100%;
  font-weight: bolder;
}

input[type="radio"]:checked {
  accent-color: var(--start-game-button-color);
}

/*=============== GAME PARAMETER:: Timer ================*/
.set-timer {
  padding: 20px auto;
  margin-bottom: 10px;
  font-weight: bolder;
}

/*=============== GAME PARAMETER:: Start Game Button ================*/
.game-button {
  width: 100%;
  margin-top: 15px;
  padding: 10px 20px;
  font-family: "Press Start 2P", sans-serif;
  font-weight: 900;
  letter-spacing: 0.1em;
  background-color: gray;
  border-style: outset;
  border-width: 4px;
  border-top-color: var(--border-light-color);
  border-left-color: var(--border-light-color);
  border-right-color: var(--border-dark-color);
  border-bottom-color: var(--border-dark-color);
  border-radius: 1em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-button:hover {
  background-color: lightgray;
  box-shadow: 0 0 5px lightgray, 0 0 20px lightgray, 0 0 60px lightgray;
}

.game-button i {
  margin-right: 20px;
}

#start-game {
  margin-top: 35px;
  color: azure;
  background-color: var(--start-game-button-color);
}

#start-game:hover {
  background-color: var(--start-game-button-glow);
  box-shadow: 0 0 5px var(--start-game-button-glow),
    0 0 20px var(--start-game-button-glow),
    0 0 60px var(--start-game-button-glow);
}

/************************************************* GAME AREA *************************************************/
.main {
  /* background-color: aliceblue; */
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}

/*=============== GAME AREA:: TRACKER ================*/
.game-area {
  width: 466px;
  background-color: lightsteelblue;
  border-style: outset;
  border-width: 8px;
  border-top-color: var(--border-light-color);
  border-left-color: var(--border-light-color);
  border-right-color: var(--border-dark-color);
  border-bottom-color: var(--border-dark-color);
  box-sizing: border-box;
}

.tracker {
  margin: 20px 10px;
  border-style: inset;
  border-width: 5px;
  border-top-color: var(--border-dark-color);
  border-left-color: var(--border-dark-color);
  border-right-color: var(--border-light-color);
  border-bottom-color: var(--border-light-color);
  display: grid;
  grid-template-columns: 30% 20% 30%;
  justify-content: space-around;
  padding: 10px;
}

.bomb-count {
  background-color: black;
  color: white;
  font-family: "digital-clock-font";
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px inset grey;
  padding: 5px;
}

.smiley {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.fa-face-smile {
  color: green;
}

.count-down {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: "digital-clock-font";
  font-size: xx-large;
  border: 2px inset grey;
  padding: 5px;
}

/*=============== GAME AREA:: BOARD ================*/
.board {
  margin: 0 10px 20px 10px;
  background-color: var(--border-dark-color);
  border: inset;
  border-width: 5px;
  border-top-color: var(--border-dark-color);
  border-left-color: var(--border-dark-color);
  border-right-color: var(--border-light-color);
  border-bottom-color: var(--border-light-color);
  font-size: xx-small;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  width: 25px;
  height: 20px;
  background-color: var(--border-light-color); /*lightgray;*/
  margin: 0;
  padding: 0;
  border: 3px outset lightsteelblue;
}

.bomb {
  font-size: large;
  /* background-color: orange; */
}

.normal {
  font-size: large;
  font-weight: 900;
}

.flagged {
  background-color: black;
}

[data-status="revealed"] {
  background-color: #ddd;
  border-style: outset;
  border-width: 2px;
  border-color: var(--border-dark-color);
  width: 25px;
  height: 20px;
}

[data-status="revealed"].bomb {
  background-color: #ddd;
  background-image: url("./images/bomb.png");
  border-style: outset;
  border-width: 2px;
  border-color: var(--border-dark-color);
  width: 25px;
  height: 20px;
}

/************************************************* Media Queries *************************************************/
